* {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

#main {
  width: 800px;
  margin: 5% auto;
  border-style: solid;
  border-color: grey;
  background-color: white; /* #6495ED */ /*to be changed*/;
}

/*Header area*/
header {
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  /*display: table-row;*/
  padding: 3% 2.5% 3% 2%;
  border: solid 1px white;
}

h2.header-name {
  text-indent: 1em;
  /*display: inline-block;*/
}

/*Navigation area*/
nav.nav-list {
  /*height: 30px;*/
  text-transform: uppercase;
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: none white black white;
}

ul.nav-list {
  height: inherit;
  list-style-type: none;
  padding: 0;
}

li.nav-list {
  position: relative;
  /*float: left;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 50%);*/
  padding: 10px 10px;
  display: table-cell;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: white;
  text-align: center;
}

li.nav-list:hover {
  background-color: cyan;
}

/*Content area*/
#content {
  margin: 1%;
  display: inline-block;
}

#main-content {
  width: 70%;
  float: left;
  padding: 2%;
}

#welcome > p {
  box-sizing: border-box;
  /*display: inline;*/
  font-size: small;
  margin: 1em 0 1em 0;
}

/*Left-pane*/
#style-example {
  clear: both;
  width: 50%;
  height: 110;
  display: inline-block;
  float: left;
  font-size: small;
}

#style-example > div {
  padding: 3%;
  border: solid 1px grey;
  background-color: #f7f7f7;
  margin: 5%;
}

#style-example > h1 {
  font-size: 1.4em;
}

div > h2 {
  font-size: 1.2em;
}

div > ul {
  margin: 5% 0 5% 5%;
}

div > ol {
margin: 5% 0 5% 5%;
}

dt {
  font-weight: bold;
}

dl > dd {
  text-indent: 1em;
}

#colored-note {
  color: red;
}

#reg-text {
  margin: 5% 0;
}

article.about-designer {
  width: 50%;
  float: left;
  font-size: small;
}

h2.about-designer, p.about-designer {
  margin: 5% 0;
}

article.open-source {
  width: 50%;
  float: left;
  font-size: small;
}

h1.open-source, p.open-source  {
  margin: 5% 0;
}

/*Right-pane*/
#right-pane {
  width: 30%;
  float: right;
  padding: 2%;
}

#right-pane > * {
  padding: 5%;
}

#box {
  border: solid 1px grey;
  font-size: small;
}

#nested-menu {
  margin: 5% 0 0 0;
}

#nested-menu > a {
  display: block;
  padding: 3.5%;
  font-size: 80%;
}

.sub-menu {
  text-indent: 1em;
}

#favorite-links > a {
  display: block;
  text-indent: 1em;
  font-size: 80%;
  padding: 2%;
}

#search-site {
  margin: 10% 0;
}

#search-site > form {
  padding: 0 0 0 1em;
}

#entry-box {
  width: 65%;
}
/*Footer*/
footer {
  clear: both;
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  font-family: Arial, sans-serif;
  text-align: center;
  border: solid 1px white;
  padding: 1%;
}
