* {
  font-family: Arial, sans-serif;
}
html {
  margin: 0;
}

body {
  background-color: #f7f7f7; /*CornflowerBlue;  /* #6495ED */
}

header, nav, footer {
  color: white;
  /*display: table-row;*/
}

nav {
  text-transform: uppercase;
}

table {
  border-width: thin:
  border-color: white;
}

footer {
  color: white;
  font-family: Arial, sans-serif;
  text-align-last: center;

}
