* {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

#main {
  width: 85%;
  margin: 5% auto;
  border-style: solid;
  border-color: grey;
  background-color: white; /* #6495ED */ /*to be changed*/;
}

/*Header area*/
header {
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  /*display: table-row;*/
  padding: 3% 2.5% 3% 2%;
  border: solid 1px white;
}

h2.header-name {
  text-indent: 1em;
  /*display: inline-block;*/
}

/*Navigation area*/
nav {
  text-transform: uppercase;
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: none white black white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: white;
  text-align: center;
  height: inherit;
}

/*Content area*/
#content {
  margin: 1%;
  border: solid;
  /*display: inline-block;*/
}

#main-content {
  width: 70%
  float: left;
  display: inline-block;
}

#welcome {
  box-sizing: border-box;
  width: 70%;
  display: inline-block;
  float: left;
  padding: 2%;
  /*display: inline;*/
}



/*Left-pane*/
#style-example {
  clear: both;
  width: 33.3%
  display: inline-block;
  float: left;
}

/*Right-pane*/
#right-pane {
  width: 30%;
  float: right;
  display: inline-block;
}
/*Footer*/
footer {
  clear: both;
  color: white;
  background-color: CornflowerBlue; /* #6495ED */
  font-family: Arial, sans-serif;
  text-align: center;
  border: solid 1px white;
  padding: 1%;
}
